# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
VRF-DAIDALUS-CEI/.vs/VRF-DAIDALUS-CEI/v15/.suo
*.db
*.opendb
*.ipch
*.exp
*.ilk
*.pdb
*.log
*.tlog
